In [1]:
# pip3 install camelot-py[cv] tabula-py

# install this using bash terminal since it is dependency for camelot
# apt install ghostscript python3-tk

In [3]:
import camelot
import os
os.listdir()

['.ipynb_checkpoints',
 'camelot.ipynb',
 "Carmelaram - Result II Semester 2020-'21.pdf",
 'notes_bash.ipynb',
 'pdf.html']

In [5]:
pdf_url = "Carmelaram - Result II Semester 2020-'21.pdf"
tables = camelot.read_pdf(pdf_url)

In [6]:
tables

In [10]:
print(dir(tables[0]))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_bbox', '_image', '_segments', '_text', '_textedges', 'accuracy', 'cells', 'cols', 'data', 'df', 'flavor', 'order', 'page', 'parsing_report', 'rows', 'set_all_edges', 'set_border', 'set_edges', 'set_span', 'shape', 'to_csv', 'to_excel', 'to_html', 'to_json', 'to_sqlite', 'whitespace']

In [11]:
df = tables[0].df
df.head()

,0,1,2,3,4,5,6,7
0,,,,,,,,
1,,Commission for Faith Formation \n Diocese of ...,,,,,,
2,,,,Name,Class,Marks,,
3,,,Carmelaram,Evaan Johnson,4,42,,
4,,,Carmelaram,Kevin S Shajy,4,50,,

In [14]:
tables[0].to_html(path='table.html')

In [15]:
df.head()

,0,1,2,3,4,5,6,7
0,,,,,,,,
1,,Commission for Faith Formation \n Diocese of ...,,,,,,
2,,,,Name,Class,Marks,,
3,,,Carmelaram,Evaan Johnson,4,42,,
4,,,Carmelaram,Kevin S Shajy,4,50,,

In [16]:
df.loc[1, 1]

'Commission for Faith Formation \n  Diocese of St. Ephrem, Khadki-Pune \n\uf020\uf020\uf020\uf02898842 71485; \uf02acatechesis.exarchate@gmail.com \n   \n        \n   \n \n \n \n \n         \n \n                                www.exarchate.online \n \n   \n                                                          18 June 2020 \n_______________________________________________________________________________________________ \n \nII SEMESTER RESULT 2020-‘21 \nCARMELARAM \nParish'

In [34]:
df = tables[0].df
columns = ['Parish'] + list(df.loc[2][3:6])
df = df.loc[3:14,2:5]
df.columns= columns
df.reset_index(drop=True, inplace=True)

In [35]:
df.to_html("table.html")